@font-face {
    font-family: 'SF UI Display';
    src: url('SFUIDisplay-Bold.woff2') format('woff2'),
        url('SFUIDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

